body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}
header {
    background-color: #1e90ff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    max-height: 50px;
    width: auto;
    border-radius: 50%;
}
#nombre{
    position: absolute;
    left: 75px;
    border-left: 1px rgba(255, 255, 255, 0.8) solid;
    padding-left: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

